@using Portal.Client.Core
@{
    var isLogin = PageUtility.IsLogin();
}
<div id="login_bar" class="container-fluid">
    <form id="loginForm" class="container form-inline" method="post" target="_blank" action="#">
        @if (isLogin)
        {
            <span class="user-info">
                <small>Welcome,</small>
                <strong>@PageUtility.CurrentUser.Identity.Name</strong>
            </span>
            <a class="btn btn-primary" href="@Url.Content("~/Account/Logout")">注销</a>
        }
    </form>
</div>
<header>
    <div id="logo_wrap" class="container">
        <h1>
            <a href="/">
                <img src="http://pic.chukou1.com/0/0_341f27.png" style="width: 423px; height: 95px">
            </a>
        </h1>
        <address>
            <div>
                <div id="support_line">
                    <strong>4006 988 223</strong>
                </div>
            </div>
        </address>
    </div>
</header>
<nav>
    <div class="container navbar navbar-static main-navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav main-nav" role="navigation">
                    <li>
                        <a href="@Url.Content("~/Home")">首页</a>
                    </li>
                    @if (isLogin)
                    {
                        <li>
                            <a href="@Url.Content("~/User")">账号管理</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/Application")">应用系统管理</a>
                        </li>
                    }
                    <li>
                        <a href="@Url.Content("~/About")">开发文档</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
