<!-- 用户信息管理明细 -->
@using Portal.Dto
@using Portal.Web.Admin.Core
@using Portal.Web.Core
@using Portal.Web.Core.Common
@using Portal.Web.Core.Model
@{
    var infolist = Model as PageListSource<User>;
    bool approve = PageUtility.HasPermission(PermissionCodes.User_Approve);//启用
    bool disapprove = PageUtility.HasPermission(PermissionCodes.User_DisApprove);//禁用
    bool setRole = PageUtility.HasPermission(PermissionCodes.User_SetRole);//设置角色
    bool setPermission = PageUtility.HasPermission(PermissionCodes.User_SetPermission);//设置权限
    bool showOperate = approve || disapprove || setRole || setPermission;//是否显示操作
}
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                用户名称
            </th>
            <th style="width: 8%;">
                员工号
            </th>
            <th style="width: 18%;">
                员工名称
            </th>
            <th style="width: 18%;">
                Email
            </th>
            <th style="width: 12%;">
                创建时间
            </th>
            <th style="width: 8%;">
                状态
            </th>
            @*<th style="width: 20%;">
                备注
            </th>*@
            @if (showOperate)
            {
                <th>
                    操作
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @if (infolist.TotalRows > 0)
        {
            foreach (var item in infolist.Source)
            {
                <tr>
                    <td>
                        <label>@item.LoginName</label>
                    </td>
                    <td>
                        <label>@item.EmployeeNo</label>
                    </td>
                    <td>
                        <label>@item.DisplayName</label>
                    </td>
                    <td>
                        <label>@item.Email</label>
                    </td>
                    <td>
                        <label utc="@item.CreatedOn.Show("yyyy-MM-dd HH:mm")" utcformat="YYYY-MM-DD"></label>
                    </td>
                    <td>
                        @(item.IsApproved ? "启用" : "禁用")
                    </td>
                    @*<td class="textLeft">@item.Desc</td>*@
                    @if (showOperate)
                    {
                        <td>
                            @if (disapprove && item.IsApproved)
                            {
                                <button title="禁用" class='btn btn-mini btn-danger' onclick="DeleInfo('@item.LoginName', 0); ">
                                    <i class='ace-icon glyphicon glyphicon-ban-circle'></i>禁用
                                </button>
                            }
                            else if (approve && !item.IsApproved)
                            {
                                <button title="启用" class='btn btn-mini btn-success' onclick="DeleInfo('@item.LoginName', 1); ">
                                    <i class='ace-icon glyphicon glyphicon-wrench'></i>启用
                                </button>
                            }
                            @if (setRole)
                            {
                                <button title="设置角色" class='btn btn-mini btn-pink' onclick="RoleDailog('@item.Id', '@item.LoginName' ); ">
                                    <i class='ace-icon glyphicon glyphicon-cog'></i>设置角色
                                </button>
                            }
                            @if (setPermission)
                            {
                                <button title="设置权限" class='btn btn-mini btn-purple' onclick="PermissionDailog('@item.Id', '@item.LoginName' ); ">
                                    <i class='ace-icon glyphicon glyphicon-cog'></i>设置权限
                                </button>
                            }
                        </td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="@(showOperate?7:6)">
                    @{ Html.RenderPartial("~/Views/Control/NoDataControl.cshtml"); }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (infolist.TotalRows > 0)
{
    Html.RenderPartial("~/Views/Control/PagingControl.cshtml", infolist.Pageing);
}