@model  Portal.Web.Admin.Model.Application.ApplicationVM
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                名称
            </th>
            <th style="width: 12%;">
                英文名称
            </th>
            <th style="width: 15%;">
                Url
            </th>
            <th style="width: 15%;">
                描述
            </th>
            <th style="width: 15%;">
                备注
            </th>
            @if (Model.IsCanEdit)
            {
                <th style="width:80px;">
                    操作
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.list)
        {
            <tr>
                <td>
                    @item.CnName
                </td>
                <td>
                    @item.EnName
                </td>
                <td>
                    @item.Url
                </td>
                <td class="textLeft">
                    @item.Desc
                </td>
                <td class="textLeft">
                    @item.Remark
                </td>
                @if (Model.IsCanEdit)
                {
                    <td>
                        <a title="编辑" class='btn btn-mini btn-info' onclick="EditDailog('@item.Id');">
                            <i class='ace-icon glyphicon glyphicon-edit'></i>编辑
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>