@using Portal.Web.Admin.Core
@model Portal.Web.Admin.Model.LoginVM
@{
    ViewBag.Title = "登录ABC";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    #LoginForm .controls input {
        height: 25px;
    }
</style>
<header>
    <div id="logo_wrap" class="container">
        <h1>
            <a href="http://www.abc.com/">
                <img src="/Content/Images/0_341f27.png" alt="ABC">
            </a>
        </h1>
        <address>
            <div>
                <div id="support_line" class="sprites-0">
                    <strong>4006 988 223</strong>
                </div>
                <div id="follow_us">
                    <h4>关注我们 </h4>
                    <a class="icon weibo sprites-0" href="http://weibo.com/abc">新浪微博</a>
                    <a data-toggle="popover" href="javascript:;" data-placement="bottom" class="icon weixin sprites-0">微信 </a>
                </div>
            </div>
        </address>
    </div>
</header>
<article class="container">
    <div class="row-fluid">
        <div class="span6">
            @{Html.RenderPartial("Ads/LoginLeftPic");}
        </div>
        <div class="span6">
            <form id="LoginForm" action="@Request.RawUrl" method="post" class="form-horizontal login-form">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="alert alert-block" id="warning" style="display: none;">
                </div>
                <fieldset>
                    <legend>用户登录</legend>
                    <div class="control-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                        <div class="controls">
                            <input type="text" id="UserName" name="UserName" placeholder="用户名" onkeydown="Keydown(event)" />
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                        <div class="controls">
                            <input type="password" id="PassWord" name="PassWord" placeholder="密码" onkeydown="Keydown(event)" />
                        </div>
                    </div>
                    @if (LogicCheckHelper.IsOutLoginFail())
                    {
                        <input type="hidden" value="true" name="CheckCode" id="hidCheckCode" />
                        <div class="control-group" id="tr_verifyCode">
                            <label class="control-label">验证码</label>
                            <div class="controls">
                                <input type="text" class="span4" id="Code" name="Code" onkeydown="Keydown(event)" />
                                @{ Html.RenderPartial("../Control/ValidateImgCtl");}
                            </div>
                        </div>
                    }
                    <div class="control-group">
                        <div class="controls">
                            <a href="javascript:void(0);" class="btn btn-primary span8 btn-large" onclick="CheckLogin();">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                       
                       
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <a href="@ViewData["amazonUkPromotion"]">用户注册</a>
                            <a style="margin-left: 100px" href="http://tools.fastweb.com.cn/index.php/Index/client" target="_blank">网络异常诊断</a>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="recommend sprites-0 ">
                <div class="roll-notice">
                    <ul>
                        @{Html.RenderPartial("Ads/LoginBottomBarList");}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="forDebugTips"></div>
    </div>
</article>
@{
    Html.RenderPartial("Footer");
}