<!-- 系统页面权限管理明细 -->
@using Portal.Dto
@using Portal.Web.Admin.Core
@using Portal.Web.Core
@using Portal.Web.Core.Model
@{
    var infolist = Model as PageListSource<PagePermission>;
    var first = (infolist.PageIndex - 1) * infolist.PageSize + 1;
    bool update = PageUtility.HasPermission(PermissionCodes.Permission_Update);//编辑
}
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th style="width: 30px;">
                编号
            </th>
            <th style="width: 12%;min-width:80px;">
                系统名称
            </th>
            <th style="width: 12%;">
                名称
            </th>
            <th style="width: 12%;">
                权限码
            </th>
            <th>
                功能权限
            </th>
            @if (update)
            {
                <th style="width: 12%;min-width:75px; ">
                    操作
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @if (infolist.TotalRows > 0)
        {
            foreach (var item in infolist.Source)
            {
                <tr>
                    <td>
                        @first
                    </td>
                    <td>
                        @item.ApplictionName
                    </td>
                    <td class="textLeft wordBreak">
                        @item.Name
                    </td>
                    <td class="textLeft wordBreak">
                        @item.Code
                    </td>
                    <td class="textLeft">
                        @item.FunctionPermissionSummary
                    </td>
                    @if (update)
                    {
                        <td>
                            <button title="编辑" class='btn btn-mini btn-info' onclick="EditDailog('@item.Code');">
                                <i class='ace-icon glyphicon glyphicon-edit'></i>编辑
                            </button>
                            @*<button title="删除" class='btn btn-mini btn-danger' onclick="DeleInfo('@item.Id');">
                                    <i class='ace-icon glyphicon glyphicon-trash'></i>删除
                                </button>*@
                        </td>
                    }
                </tr>
                    first++;
            }
        }
        else
        {
            <tr>
                <td colspan="@(update?6:5)">
                    @{ Html.RenderPartial("~/Views/Control/NoDataControl.cshtml"); }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (infolist.TotalRows > 0)
{
    Html.RenderPartial("~/Views/Control/PagingControl.cshtml", infolist.Pageing);
}