<!-- 外部开发者应用信息管理查看弹出对话框 -->
@using Portal.Dto
@using Portal.Web.Core
@using Portal.Web.Core.Common
@{
    var item = Model as DeveloperAppDto;
}
<form class="form-horizontal" action="#" id="detailForm">
    <input type="hidden" id="hddatakey" name="Id" value="@item.Id" />
    <table class="tab-pane active form_table">
        <tr>
            <th>
                应用名称：
            </th>
            <td colspan="3">
                @item.Name
            </td>
        </tr>
        <tr>
            <th>
                应用类型：
            </th>
            <td>
                @(item.IsExternal ? "外部" : "内部")
            </td>
            <th>
                创建时间：
            </th>
            <td>
                <label utc="@item.CreatedOn.Show("yyyy-MM-dd HH:mm:ss")" utcformat="YYYY-MM-DD HH:mm:ss"></label>
            </td>
        </tr>
        <tr>
            <th>
                应用简介：
            </th>
            <td colspan="3">
                @item.Desc
            </td>
        </tr>
        <tr>
            <th>
                应用地址：
            </th>
            <td>
                @item.AccessUrl
            </td>
            <th>
                回调地址：
            </th>
            <td>
                @item.CallbackUrl
            </td>
        </tr>
        <tr>
            <th>
                应用类型：
            </th>
            <td>
                @(item.AppType.GetDescription())
            </td>
            <th>
                状态：
            </th>
            <td>
                @(item.State.GetDescription())
            </td>
        </tr>
        <tr>
            <th>
                ClientId：
            </th>
            <td colspan="3">
                @item.ClientId
            </td>
        </tr>
        <tr>
            <th>
                Secret：
            </th>
            <td colspan="3">
                @item.Secret
            </td>
        </tr>
        @if (item.IsExternal)
        {
            <tr>
                <th>
                    申请分组：
                </th>
                <td colspan="3">
                    @item.RequestGroupDesc
                </td>
            </tr>
            <tr>
                <th>
                    已审分组：
                </th>
                <td colspan="3">
                    @item.ApprovedGroupDesc
                </td>
            </tr>
        }
        else
        {
            <tr>
                <th>
                    已审权限：
                </th>
                <td colspan="3">
                    @item.ApprovedPermssionDesc
                </td>
            </tr>
        }
        <tr>
            <th>
                备注：
            </th>
            <td colspan="3">
                @item.Remarks
            </td>
        </tr>
    </table>
</form>